*{
    font-family: 'Segoe UI';
}
.formulario{
    text-align: center;
}
.btnForm{
    background-color: rgb(223, 71, 223);
    color: #4a034a;
}
form{
    margin: 0  auto;
    border-radius: 25px;
    width: 30%;
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 4px 3px rgba(88, 84, 84, 0.661);
}
input{
    border: rgb(198, 67, 198) 1px solid;
    border-radius: 7px;
    height: 2em;
}