table{
    border-collapse: collapse;
}
th, td{
    border: 1px solid black;
    text-align: center;
}
.bg-bluey{
    background: rgb(147, 147, 245);
    color: rgb(37, 37, 156);
    font-weight: bold;
}